

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	body{margin-top:20px;}
    </style>
</head>
<body>
<nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">DRIVER</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>{{user.username}}</h1></div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <ul class="list-group">
                <li class="list-group-item text-muted">Профиль</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Имя</strong></span>{{user.namedriver}} {{user.surname}}</li>
                {% if user.car_model %}
                <li class="list-group-item text-right"><span class="pull-left"><strong>Машина</strong></span>{{user.car_model}} {{user.carnumber}}</li>
                {% endif %}
                {% if user.experience %}
                <li class="list-group-item text-right"><span class="pull-left"><strong>Стаж</strong></span>{{user.experience}}</li>
                {% endif %}
                {% if user.datebirth %}
                <li class="list-group-item text-right"><span class="pull-left"><strong>Дата рождения</strong></span>{{user.datebirth}}</li>
                {% endif %}




            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted">Сводка<i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>ВСЕГО заказов</strong></span>{{orders|length}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>ВЫПОЛНЕНО заказов</strong></span>{{succedOrder}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Заказы В РАБОТЕ</strong></span>{{inWorkOrder}}</li>
            </ul>

        </div>
        <!--/col-3-->
        <div class="col-sm-9">

            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                <li><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Город отправления</th>
                                    <th>Город доставки</th>
                                    <th>Товар</th>
                                    <th>Вес</th>
                                    <th>Статус</th>
                                </tr>
                            </thead>
                            <tbody id="items">
                                {% for order in orders %}
                                <tr>
                                    <td>{{order.date_delivery}}</td>
                                    <td>{{order.point_A}}</td>
                                    <td>{{order.point_B}} </td>
                                    <td>{{order.product}}</td>
                                    <td>{{order.weight}}</td>
                                    <td>{{order.is_delivery}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <ul class="pagination" id="myPager"></ul>
                            </div>
                        </div>
                    </div>
                    <!--/table-resp-->

                    <hr>

                </div>

                <!--/tab-pane-->
                <div class="tab-pane" id="settings">

                    <hr>


                    <form class="form" method="POST" id="registrationForm">
                        {{ form.hidden_tag() }}
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>Имя</h4></label>
                                <input type="text" class="form-control" name="name" id="first_name" placeholder="Имя" value="{{request.form.name}}" required >
                                {% for error in form.name.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                 {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name">
                                    <h4>Фамилия</h4></label>
                                <input type="text" class="form-control" name="surname" id="last_name" placeholder="Фамилия" value="{{request.form.surname}}" required>
                                {% for error in form.surname.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                 {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="date_birth">
                                    <h4>Дата рождения</h4></label>
                                <input type="text" class="form-control" name="datebirth" id="date_birth" placeholder="ДД.ММ.ГГГГ" value="{{request.form.datebirth}}" required>
                                {% for error in form.datebirth.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                 {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="username">
                                    <h4>Username</h4></label>
                                <input type="text" class="form-control" name="username" id="username" placeholder="username" value="{{request.form.username}}">
                                 {% for error in form.username.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                 {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password">
                                    <h4>Пароль</h4></label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Пароль" value="{{request.form.password}}" required>
                                {% for error in form.password.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                 {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password2">
                                    <h4>Пароль еще раз</h4></label>
                                <input type="password" class="form-control" name="password2" id="password2" placeholder="Пароль еще раз"  value="{{request.form.password2}}" required>
                                {% for error in form.password2.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                 {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit" name = "submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    document.getElementById('first_name').value = "{{user.namedriver}}";
    document.getElementById('last_name').value = "{{user.surname}}";
    document.getElementById('date_birth').value = "{{user.datebirth}}";
    document.getElementById('username').value = "{{user.username}}";
</script>
</body>
</html>